
.form{
  padding-left: 3%;
  padding-right: 3%;
}

.title{
  font-family: 'Work Sans';
}

.row{
  width: 90%;
  padding: 5%;
  border: 1px solid black;
}

.button-space{
  margin:auto;
  margin-top: 70px;
  width: 200px;
}
