.textfield{
  margin-bottom: 22px;
  height: 75px;
}

.textarea{
  margin-bottom: 65px;
  height: 75px;
}

.col-1{
  width: 94.5%;
  float: left;
  margin-right: 40px;
}

.col-2{
  width: 45%;
  float: left;
  margin-right: 3%;
}

.col-3{
  width: 29%;
  float: left;
  margin-right: 2.8%;
}

.col-2-center{
  width: 45%;
  margin:auto;
}

.col-3-center{
  width: 29%;
  margin:auto;
}

.label{
  width: 97%;
  height: 18px;
}

.label-text{
  color:#8F8893;
  float: left;
}

.input-text{
  margin-top:5px;
  width: 97%;
  height: 40px;
  border:solid #A5A2A6;
  border-width: 0.5px;
  padding-left: 35px;
  font-size: 16px;
  transition: border .5s ease-in-out;
}

.multiLine{
  margin-top:5px;
  width: 97%;
  height: 80px;
  border:solid #A5A2A6;
  border-width: 0.5px;
  padding-left: 35px;
  font-size: 16px;
  transition: border .5s ease-in-out;
  resize: none;
}

.input-text:focus{
  border: .5px solid black;
}

.multiLine:focus{
  border: .5px solid black;
}

.disabled{
    opacity: 0.8;
    pointer-events: none;
}

.errorInput{
  margin-top:5px;;
  height: 40px;
  width: 97%;
  border:solid red;
  border-width: 0.5px;
  padding-left: 35px;
  font-size: 16px;
}

.errorTextarea{
  margin-top:5px;;
  height: 80px;
  width: 97%;
  border:solid red;
  border-width: 0.5px;
  padding-left: 35px;
  font-size: 16px;
  resize: none;
}

.input-error-text {
  color: red;
  font-size: 14px;
}
